# Backend API Keys & Local DB Path
GROQ_API_KEY=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
CHROMA_PERSIST_DIR=./data/chromadb

# GitHub Artifact Downloader (Required for Render startup)
GITHUB_TOKEN=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
GITHUB_REPO=raitushar217/mf-faq-assistant

# Frontend (Required for test.html and Next.js frontend)
# Use http://localhost:8000 for local dev
# Use https://your-render-url.onrender.com for production
NEXT_PUBLIC_API_URL=http://localhost:8000
